---
import FineCard from '../../../components/pages/fine/fine-card';
import VehicleCard from '../../../components/pages/vehicle/vehicle-card';
import Layout from '../../../layouts/Layout.astro';
import DeleteButton from '../../../components/delete-button';
import {
  formatCitizen,
  getCitizen,
  getVehiclesByCitizen,
  getFinesByCitizen,
  formatFine,
  formatVehicle,
} from '../../../lib/api';
import { getFineInfo } from '../../../lib/get-info';
import type { FineInfo } from '../../../lib/types';
import { EditIcon } from '../../../components/icons/edit';

const { id } = Astro.params;

if (!id) {
  return Astro.redirect('404');
}

const citizenRes = await getCitizen(id);

if (citizenRes.error) {
  return Astro.redirect('404');
}

const citizen = formatCitizen(citizenRes.result);
const { address, birthDay, cedula, lastName, licenceEnd, name } = citizen;

const licenceExp = licenceEnd.getTime() < new Date().getTime();

const vehiclesRes = await getVehiclesByCitizen(id);
const finesRes = await getFinesByCitizen(id);

const fines = finesRes.result
  ? finesRes.result.map(resFine => formatFine(resFine))
  : [];
const vehicles = vehiclesRes.result
  ? vehiclesRes.result.map(resVehicle => formatVehicle(resVehicle))
  : [];

const finesInfo = (await Promise.all(
  fines.map(async fine => await getFineInfo(fine.id))
)) as FineInfo[];
---

<Layout title='Citizen panel'>
  <div class='flex flex-col justify-center items-center flex-1 overflow-y-auto'>
    <article class='p-6 grid grid-cols-3 h-full flex-1'>
      <section class='flex flex-col gap-3 h-full p-3'>
        <div>
          <h2 class='text-red-500 text-5xl font-outfit'>
            {`${name} ${lastName}`}
          </h2>
          <h3 class='text-red-400 text-3xl font-outfit mt-[4px]'>
            CC: {cedula}
          </h3>
        </div>

        <h4 class='text-amber-500 text-[26px] font-outfit font-bold'>
          Informacion Basica:
        </h4>

        <ul class='flex flex-col gap-1'>
          <li class='text-xl'>
            <strong class='text-amber-500'>Nacio el:</strong>
            {birthDay?.toLocaleString('es-CO', { dateStyle: 'medium' })}
          </li>
          <li class='text-xl'>
            <strong class='text-amber-500'>Dirección:</strong>
            {address}
          </li>
          <li class='text-xl'>
            <strong class='text-amber-500'>Licencia vence:</strong>
            <span class={`${licenceExp && 'text-red-500'}`}>
              {licenceEnd?.toLocaleString('es-CO', { dateStyle: 'medium' })}
              {licenceExp && <span class='text-xl'>* Vencido</span>}
            </span>
          </li>
        </ul>

        <div class='flex gap-2 mt-3'>
          <DeleteButton client:visible id={id} type='citizen' />
          <a
            href=`/citizen/${id}/edit`
            class='flex justify-center items-center gap-1
          text-white bg-amber-500
            py-2 px-3 rounded-2xl
            text-lg font-semibold font-outfit
            transition-all hover:text-red-400 hover:scale-[1.02]'
          >
            <EditIcon /> Editar
          </a>
        </div>
      </section>
      <section
        class='flex flex-col items-center gap-3 overflow-y-auto h-full p-3'
      >
        <h4 class='text-red-500 text-5xl font-outfit mb-3'>Vehiculos</h4>
        {
          vehicles.length === 0 ? (
            <p class='text-red-500'>Sin Vehiculos</p>
          ) : (
            vehicles.map(vehicle => <VehicleCard vehicle={vehicle} />)
          )
        }
      </section>
      <section
        class='flex flex-col items-center gap-3 overflow-y-auto h-full p-3'
      >
        <h4 class='text-red-500 text-5xl font-outfit mb-3'>Multas</h4>
        {
          finesInfo.length === 0 ? (
            <p class='text-red-500'>Sin Multas</p>
          ) : (
            finesInfo.map(fine => <FineCard fineInfo={fine} />)
          )
        }
      </section>
    </article>
  </div>
</Layout>
