---
import type { Citizen } from '../lib/types';

interface Props {
  citizen: Citizen;
}

const { citizen } = Astro.props;
const { name, lastName, birthDay, cedula, address, licenceEnd, id } = citizen;

const licenceExp = licenceEnd.getTime() < new Date().getTime();
---

<a
  href=`citizen/${id}`
  class='max-w-md border-2 border-red-500 rounded-xl p-4 hover:shadow-lg hover:scale-[1.01] transition-transform'
>
  <h4 class='font-bold font-outfit text-lg text-red-500'>
    {`${name} ${lastName}`}
  </h4>

  <ul class='mt-2'>
    <li><strong>Cedula:</strong> {cedula}</li>
    <li>
      <strong>Fecha de nacimiento:</strong>
      {birthDay.toLocaleString('es-CO', { dateStyle: 'medium' })}
    </li>

    <li class:list={[{ 'text-red-600': licenceExp }]}>
      <strong>Licencia vence:</strong>
      {licenceEnd.toLocaleString('es-CO', { dateStyle: 'medium' })}
      {licenceExp && <span class='text-xl'>*</span>}
    </li>
    <li>
      <strong>Dirección:</strong>
      {address}
    </li>
  </ul>
</a>
